.hero1, .hero2, .hero3 {
  height: 100%;
  width: 100%;
}


.hero {
    position: relative;
}

.arrow
  {
    position: absolute;
    top: 103%;
    left: 46.2%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}



@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.arrow:hover
{
        -webkit-animation: swing .5s ease;
        animation: swing .5s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
