.subscribeToUs {
  height: 41px;
  width: 328px;
  color: #000000;
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
}

.subscribe {
  height: 33px;
  width: 109px;
  color: #000000;
  font-family: "Yanone Kaffeesatz";
  font-size: 32px;
  line-height: 38px;
  text-align: center;
}

.yelp {
  height: 81px;
  width: 81px;
}

.instagram {
    height: 93px;
    width: 102px;
}

.facebook {
    height: 96px;
    width: 93px;
}
