
footer {
  border-top: solid black 3px;
  padding: 5% 5%;
  margin-top: 2%;
}

.socialIcons > a > img {
  height: 70px;
}

.container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  padding-bottom: 10px;
}

button {
  width: 250px;
  background-color: white;
  color: #000000;
  font-family: "Yanone Kaffeesatz";
  font-size: 30px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
  margin-top: 10px;
  border: solid black 2px;
}



.subscribeToUs {
  color: #000000;
  font-family: "Yanone Kaffeesatz";
  font-size: 36px;
  font-weight: 300;
  line-height: 42px;
  text-align: center;
  margin-right: 50%;
}

.socialIcons {
  margin-top: 23px;
}


.copyRight {
  text-align: center;
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
  font-weight: 200;
  margin-top: 20px;
}

span {
  font-size: 30px;
}





