

.text1 {
  height: 2.09%;
  width: 82.22%;
  color: #000000;
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.text2 {
  height: 2.09%;
  width: 72.22%;
  color: #000000;
  font-family: "Yanone Kaffeesatz";
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  text-align: center;
  display: block;
  margin: 0 auto;
}

